#gameWindow {
    border: 10px solid pink;
    margin: 0 auto;
    display: block;
    background-image: url(https://www.apteka.ua/wp/wp-content/uploads/2016/05/457.jpg);
    
}
body{
    background: linear-gradient(270deg , #acffea , #fda2d4, #ffbb9e);
}
h1{
    font-family: sans-serif;
    font: 23px;
}